<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <title>Resume</title>
    <style>
@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');
body {
    width: 100%;
    overflow-x:hidden;
    margin: 0 !important;
    padding: 0 !important;
}
.navig {
    text-align: center;
    font-size: 5vmin;
    font-family: 'Alata', sans-serif;
    background-color: skyblue;
    padding-bottom: 2vmin;
    margin-top: 2vmin;
}
.buttons {
    font-size: 4vmin;
    margin-top: 1%;
}
    </style>
</head>
<body>
    <div class="navig">
        <div class="row justify-content-center">
                <div class="d-none d-sm-block col-sm-1 col-md-2 col-lg-2 col-xl-2 d-xl-none"></div>
                <div class="col-6 col-sm-5 col-md-4 col-lg-4 col-xl-7" style="color: white;">Sanya30061991</div>
                <div class="col-6 col-sm-5 col-md-4 col-lg-4 col-xl-5 d-sm-block d-none">
                    <div class="buttons">
                        <div class="row">
                            <div class="col-3">button</div>
                            <div class="col-3">button</div>
                            <div class="col-3">button</div>
                            <div class="col-3">button</div>
                        </div>
                    </div>
                </div>
                <div class="d-none d-sm-block col-sm-1 col-md-2 col-lg-2 col-xl-2 d-xl-none"></div>
                <div class="d-sm-none d-block">panel</div>
        </div>
    </div>
</body>
</html>